body {
    margin: 0;
}

body, header {
    background-color: rgb(34, 33, 33);
}

/* ----------------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------------- */
.header {
    padding: 1rem;
    column-count: 3;
}

.header h1 {
    margin: 0;
    font: bold;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#line {
    width: 98%;
    margin: auto;
    height: 0.1rem;
    background: linear-gradient(to right, #0067ff, #8900e8);
}

#settings-menu {
    margin-left: 1rem;
}

#settings-color {
    text-align: right;
    margin-right: 1rem;
}

#settings-menu, #settings-color {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* ----------------------------------------------------------------- */
/* Button */
/* ----------------------------------------------------------------- */

/* boton {
    background-image: linear-gradient(90deg, rgb(13, 13, 14), rgb(18, 15, 71)); 
} */

.container-buttons {
    bottom: 0;
    width: 100%;
    height: 35%;
    position: fixed;
    text-align: center;
}

.button-block {
    padding: 2%;
    display: inline-block;
}

#button-style {
    padding: 5%;
    border: none;
    width: 15rem;
    color: white;
    background-image: linear-gradient(to right, rgb(35, 26, 199), rgb(54, 54, 58)); 
}

#button-style:hover {
    /* opacity: 0.6; */
    border: 1px solid white;
}