body {
    margin: 0;
    background-color: rgb(30, 31, 32);
}

/* ----------------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------------- */
div#header-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 5fr 1fr;
}

div#header-settings, div#header-theme {
    font-size: 2rem;
    color: #ffffff;
}

h1#header-name {
    font-size: 2em;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-129deg, #231ac7, #b702db);
    -webkit-background-clip: text;
}

div#header-line {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    background: linear-gradient(to right, #0067ff, #8900e8);
}

/* ----------------------------------------------------------------- */
/* Setting */
/* ----------------------------------------------------------------- */
#settings-container {
    top: 0;
    z-index: 2;
    height: 100%;
    width: 250px;
    display: none;
    position: fixed;
    background-color: #323232;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 2px solid lightgray;
}

@keyframes showMenu {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes closeMenu {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#settings-head {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 3fr 1fr;
}

#settings-close {
    color: #ffffff;
}

#settings-name h1 {
    color: #ffffff;
    font-size: 1.5em;
    font-family: cursive;
    text-align: right;
}

div#settings-line {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background: #ffffff;
}

#settings-funtions {
    margin-top: 10px;
    text-align: center;
}

.settings-container p {
    color: #ffffff;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.settings-container input[type = "number"] {
    width: 70%;
    font-size: 1.1em;
}

.input-setting {
    padding: 5px;
    border: none;
}

#container-save {
    margin-top: 10%;
    font-size: 1.1em;
}

p#save {
    height: 1rem;
}

#save {
    color: #20a374;
}

#button-save {
    margin-top: 5%;
    border-radius: 5px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------------------------------------------------- */
/* Error */
/* ----------------------------------------------------------------- */
#container-error {
    height: 8rem;
    margin: 1rem 0 1rem 3rem;
}

#error {
    color: #d31a2c;
    font-size: 1.1em;
    font-style: italic;
    font-family: sans-serif;
}

@keyframes ShowMessage {
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

/* ----------------------------------------------------------------- */
/* List Animated */
/* ----------------------------------------------------------------- */
#container-list-animated {
    /* width: 95%; */
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow-y: hidden;
    margin-left: 1.5rem;
    padding: 40px 0 35px 5%;
}

#circle {
    z-index: 1;
    width: 85px;
    height: 85px;
    flex: 0 0 auto;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: inline-block;
    background-color: #8900e8;
}

/* Animation */
@keyframes circle {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

#number {
    color: #fff;
    font-size: 2.5em;
    margin-top: 0.5em;
    text-align: center;
    font-family: sans-serif;
}

#arrow {
    margin: 1.1em 0.5em 0 0.5em;
}

#arrow > i {
    color: #231ac7;
    font-size: 3em;
}

/* Animation */
@keyframes showArrow {
    0% {transform: translateX(-100%);}
    80% {transform: translateX(10%);}
    100% {transform: translateX(0%);}
}

@keyframes moveArrow {
    33% {transform: rotate(10deg);}
    66% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}

/* ----------------------------------------------------------------- */
/* Scrollbar */
/* ----------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: lightgray;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0067ff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* ----------------------------------------------------------------- */
/* Buttons */
/* ----------------------------------------------------------------- */
#container-buttons {
    bottom: 0;
    width: 95%;
    display: flex;
    height: 12rem;
    position: fixed;
    margin-left: 1rem;
    justify-content: center;
}

.container {
    width: 25%;
    height: 12rem;
    text-align: center;
}

.button-style, .input-style {width: 80%;}

.button-style, .input-style, .button-remove, .remove-icon {border: none;}

.button-style, .input-style, .button-remove {
    font-weight: bold;
    font-style: italic;
    box-sizing: border-box;
}

.button-style, .button-remove {padding: 10px;}

.button-style, .button-remove, .remove-icon {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-remove {width: 60%;}

.remove-icon {
    padding: 10px 15px 10px 15px;
    margin-left: -3px;
}

.button-style:hover, .button-remove:hover, .remove-icon:hover {
    transform: scale(1.05);
}

.button-style, .button-remove, .remove-icon {
    color: white;
    background-image: linear-gradient(9deg, rgb(35, 26, 199), rgb(54, 54, 58));
}

#remove-node-index, #remove-node-value {
    display: none;
}

.input-style {
    padding: 5px;
    font-size: 1em;
    margin-top: 10px;
}


/* ----------------------------------------------------------------- */
/* Animation button remove */
/* ----------------------------------------------------------------- */
@keyframes animate-remove-icon-on {
    from { transform: rotate(0deg)  translate(0px); }
    to { transform: rotate(360deg) translate(0px); }
}

@keyframes animate-remove-icon-off {
    from { transform: rotate(0deg)  translate(0px); }
    to { transform: rotate(-360deg) translate(0px); }
}

/* ----------------------------------------------------------------- */
/* Animation input text */
/* ----------------------------------------------------------------- */
@keyframes inputAnimationOn {
    0% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
}

@keyframes inputAnimationOff {
    0% {transform: translateY(0px);}
    100% {transform: translateY(-15px);}
}